.a-user-list
  margin: 0

.a-user
  font-size: 20px
  padding: 10px
  border: 1px solid black
  display: flex
  margin-bottom: 5px
  line-height: 14px
  background: white
  font-size: 14px
  &:before
    content: ''
    display: inline-block
    width: 14px
    height: 14px
    border-radius: 50%
    border: 1px solid black
    margin-right: 10px
    box-shadow: 0 0 0 2px white inset
  .a-user--name
    flex: 1
  &.as-lied
    &:before
      background: red
  &.as-answered
    &:before
      background: yellow
  &.as-active
    &:before
      background: green
