.row
  .columns
    #game
      #categories
      #question
        .category
        .text
      %ul#answers
      %ul#userList{ data: { code: @code, users: [] } }
      = react_component('Home', code: @code)
